:root.theme-dark {
  --main-font: "IBM Plex Mono";
  --bg-color: #000028;
  --page__title-color: #db00ff;
  --bg__title-color: #ff0070;
  --section__heading-color: #ff0070;
  --sub__heading-color: #000028;
  --main__text-color: #f1b2ce;
  --border-color: rgba(255, 0, 112, 0.4);
}

body.theme_dark {
  --main-font: "IBM Plex Mono", sans-serif;
  --bg-color: #000028;
  --page__title-color: #db00ff;
  --bg__title-color: #ff0070;
  --section__heading-color: #ff0070;
  --sub__heading-color: #000028;
  --main__text-color: #f1b2ce;
  --border-color: rgba(255, 0, 112, 0.4);

  .header {
    background-image: url(../images/cover-image-dark.png);
    background-position: center;
    background-size: cover;
  }

  .header__rec::before {
    content: "REC";
    color: #ff0070;
    position: absolute;
    display: block;
    font-family: var(--main-font), sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    top: 20px;
    right: 53px;
  }
  
  .header__rec::after {
    position: absolute;
    content: "";
    display: block;
    inline-size: 9px;
    block-size: 9px;
    background-color: var(--bg__title-color);
    border-radius: 50%;
    box-shadow: 0 0 4px 2px var(--bg__title-color);
    top: 28px;
    right: 30px;
  }
}
