:root.theme_light {
  --main-font: "IBM Plex Mono";
  --bg-color: #fff1f7;
  --page__title-color: #ffc2e6;
  --bg__title-color: #ff8dcb;
  --section__Heading-color: #353430;
  --sub__Heading-color: #353430;
  --main__text-color: #353430;
  --border-color: rgba(50, 49, 45, 0.4);
}

body.theme_light {
  --main-font: "IBM Plex Mono", sans-serif;
  --bg-color: #fff1f7;
  --page__title-color: #ffc2e6;
  --bg__title-color: #ff8dcb;
  --section__Heading-color: #353430;
  --sub__Heading-color: #353430;
  --main__text-color: #353430;
  --border-color: rgba(50, 49, 45, 0.4);
  .header {
    background-image: url(../images/cover-image-light.png);
    background-position: center;
    background-size: cover;
  }

  .header__rec::before {
    content: "";
  }
  .header__rec::after {
    background-color: inherit;
    box-shadow: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex Mono", sans-serif;
    --bg-color: #fff1f7;
    --page__title-color: #ffc2e6;
    --bg__title-color: #ff8dcb;
    --section__Heading-color: #353430;
    --sub__Heading-color: #353430;
    --main__text-color: #353430;
    --border-color: rgba(50, 49, 45, 0.4);
  }
  .header {
    background-image: url(../images/cover-image-light.png);
    background-position: center;
    background-size: cover;
  }
  .header__rec::before {
    content: "";
  }
  .header__rec::after {
    background-color: inherit;
    box-shadow: none;
  }
}
